
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Global smooth transitions */
* {
  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
